@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}
body{
    color: #000;
    background-color: #fff;
    
}
.container{
    height: 78vh;
    width: 63vh;
    position: absolute; top: 12vh;
    border-bottom: 3px solid #9400d3;
    border-radius: 10px;
    background-color: #b2bec3;
    box-shadow: 10px 10px 20px #555, -10px -10px 20px #ffffff ;
    justify-self: center;
    position: relative;
}
.login h1{
position: relative;
font-weight: 900;
left: 7%;
top: 25px;
color: #9400d3;
}
.login-form{
    position: relative;
    top: 50px;
    left: 10%;
}
.login-form input{
    width: 75%;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    margin: 10px;   
}
.login-form label{
    font-size: 15px;
    font-weight: bold;
}
.Remember{
    position: relative;
    top: 60px;
    left: 10%;
    font-size: 12px;
}
.Remember input{
    position: relative;
    top:1px;
}
button{
    position: relative;
    top: 65px;
    left: 72%;
    background-color: #9400d3;
    color: #fff;
    padding: 9px;
    width: 18%;
    border-radius: 8px;
    border: 1px solid #fff;
}
button:hover{
    background-color: #663399;
}
.next{
    justify-self: center;
    font-size: 10px;
    position: relative;
    top: 75px;
}
.signIn{
    position: relative;
    top: 75px;
    justify-self: center;
    
}
.signIn ul li {
    list-style: none;
    display: inline-block;
    margin: 30px 20px;
}
.signIn ul li a{
    text-decoration: none;
}
.signIn  ul li a i{
    font-size: 30px;
    color: #9400d3;
}
.signIn p{
    font-size: 12px;
    position: relative;
    top: 3px;
    left: 20px;

}
.signIn p a{
    text-decoration: none;
    color: #9400d3;
}
.signIn p a:hover{
    color: #663399;
}